.main-nav ul, main {
  float: none;
  margin: 0 auto;
  min-height: 1px;
  padding: 0 9.331px; }
  @media only screen and (min-width: 37.5em) {
    .main-nav ul, main {
      width: 58.33333%; } }

.banner {
  height: 80vh;
  background: #2e4e62 url(../assets/img/paw-print.png) no-repeat center; }

.main-nav {
  background: #eee;
  transition: background 0.2s ease-in-out; }
  .main-nav ul {
    height: 44px;
    line-height: 44px;
    list-style: none; }
    .main-nav ul li {
      padding: 0;
      margin-right: 18.662px;
      float: left; }
      .main-nav ul li:before {
        display: none; }
    .main-nav ul a {
      display: block;
      text-decoration: none;
      border: none; }
      .main-nav ul a.current {
        font-family: "OpenSansBold";
        color: #c0392b; }

.main-nav.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  background: #2e4e62; }
  .main-nav.sticky ~ main {
    margin-top: 44px; }
  .main-nav.sticky a {
    color: #98f1df; }

main {
  padding-top: 18.662px;
  padding-bottom: 18.662px; }
  main h2 {
    margin-top: 0; }

footer {
  margin-top: 55.986px;
  height: 480px;
  background: #fff url(../assets/img/kitty-03.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed; }
