@font-face {
	font-family: 'IcoMoonSubset';
	src:url('fonts/IcoMoonSubset.eot');
	src:url('fonts/IcoMoonSubset.eot?#iefix') format('embedded-opentype'),
		url('fonts/IcoMoonSubset.svg#IcoMoonSubset') format('svg'),
		url('fonts/IcoMoonSubset.woff') format('woff'),
		url('fonts/IcoMoonSubset.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'IcoMoonSubset';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'IcoMoonSubset';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-phone:before {
	content: "\e000";
}
.icon-mail:before {
	content: "\e001";
}
.icon-paperplane:before {
	content: "\e002";
}
.icon-pencil:before {
	content: "\e003";
}
.icon-user:before {
	content: "\e004";
}
.icon-users:before {
	content: "\e005";
}
.icon-reply:before {
	content: "\e006";
}
.icon-reply-all:before {
	content: "\e007";
}
.icon-paperclip:before {
	content: "\e009";
}
.icon-drawer:before {
	content: "\e00a";
}
.icon-export:before {
	content: "\e00b";
}
.icon-location:before {
	content: "\e00c";
}
.icon-compass:before {
	content: "\e00e";
}
.icon-location-2:before {
	content: "\e00f";
}
.icon-heart:before {
	content: "\e010";
}
.icon-heart-2:before {
	content: "\e011";
}
.icon-star:before {
	content: "\e012";
}
.icon-thumbs-up:before {
	content: "\e013";
}
.icon-thumbs-down:before {
	content: "\e014";
}
.icon-chat:before {
	content: "\e015";
}
.icon-comment:before {
	content: "\e016";
}
.icon-quote:before {
	content: "\e017";
}
.icon-search:before {
	content: "\e018";
}
.icon-link:before {
	content: "\e019";
}
.icon-house:before {
	content: "\e008";
}
.icon-printer:before {
	content: "\e00d";
}
.icon-bell:before {
	content: "\e01a";
}
.icon-flag:before {
	content: "\e01b";
}
.icon-cog:before {
	content: "\e01c";
}
.icon-tools:before {
	content: "\e01d";
}
.icon-untitled:before {
	content: "\e01e";
}
.icon-untitled-2:before {
	content: "\e01f";
}
.icon-megaphone:before {
	content: "\e020";
}
.icon-leaf:before {
	content: "\e021";
}
.icon-music:before {
	content: "\e022";
}
.icon-music-2:before {
	content: "\e023";
}
.icon-new:before {
	content: "\e024";
}
.icon-airplane:before {
	content: "\e025";
}
.icon-book:before {
	content: "\e026";
}
.icon-newspaper:before {
	content: "\e027";
}
.icon-lifebuoy:before {
	content: "\e028";
}
.icon-trophy:before {
	content: "\e029";
}
.icon-eye:before {
	content: "\e02a";
}
.icon-clock:before {
	content: "\e02b";
}
.icon-microphone:before {
	content: "\e02c";
}
.icon-calendar:before {
	content: "\e02d";
}
.icon-mobile:before {
	content: "\e02e";
}
.icon-mouse:before {
	content: "\e02f";
}
.icon-directions:before {
	content: "\e030";
}
.icon-feather:before {
	content: "\e031";
}
.icon-user-add:before {
	content: "\e032";
}
.icon-vcard:before {
	content: "\e033";
}
.icon-target:before {
	content: "\e034";
}
.icon-share:before {
	content: "\e035";
}
.icon-sharable:before {
	content: "\e036";
}
.icon-flashlight:before {
	content: "\e037";
}
.icon-tag:before {
	content: "\e038";
}
.icon-camera:before {
	content: "\e039";
}
.icon-moon:before {
	content: "\e03a";
}
.icon-palette:before {
	content: "\e03b";
}
.icon-graduation:before {
	content: "\e03c";
}
.icon-popup:before {
	content: "\e03d";
}
.icon-bag:before {
	content: "\e03e";
}
.icon-bolt:before {
	content: "\e03f";
}
.icon-thunder:before {
	content: "\e040";
}
.icon-droplet:before {
	content: "\e041";
}
.icon-cd:before {
	content: "\e042";
}
.icon-briefcase:before {
	content: "\e043";
}
.icon-air:before {
	content: "\e044";
}
.icon-hourglass:before {
	content: "\e045";
}
.icon-gauge:before {
	content: "\e046";
}
.icon-language:before {
	content: "\e047";
}
.icon-network:before {
	content: "\e048";
}
.icon-key:before {
	content: "\e049";
}
.icon-progress-2:before {
	content: "\e04a";
}
.icon-progress-3:before {
	content: "\e04b";
}
.icon-publish:before {
	content: "\e04c";
}
.icon-browser:before {
	content: "\e04d";
}
.icon-keyboard:before {
	content: "\e04e";
}
.icon-earth:before {
	content: "\e04f";
}
.icon-cone:before {
	content: "\e050";
}
.icon-suitcase:before {
	content: "\e051";
}
.icon-brush:before {
	content: "\e052";
}
.icon-rocket:before {
	content: "\e053";
}
.icon-cup:before {
	content: "\e054";
}
.icon-drive:before {
	content: "\e055";
}
.icon-magnet:before {
	content: "\e056";
}
.icon-bucket:before {
	content: "\e057";
}
.icon-battery:before {
	content: "\e058";
}
.icon-brogress-1:before {
	content: "\e059";
}
.icon-progress-0:before {
	content: "\e05a";
}
.icon-sun:before {
	content: "\e05b";
}
.icon-sun-2:before {
	content: "\e05c";
}
.icon-adjust:before {
	content: "\e05d";
}
.icon-code:before {
	content: "\e05e";
}
.icon-screen:before {
	content: "\e05f";
}
.icon-infinity:before {
	content: "\e060";
}
.icon-light-bulb:before {
	content: "\e061";
}
.icon-credit-card:before {
	content: "\e062";
}
.icon-database:before {
	content: "\e063";
}
.icon-voicemail:before {
	content: "\e064";
}
.icon-clipboard:before {
	content: "\e065";
}
.icon-cart:before {
	content: "\e066";
}
.icon-box:before {
	content: "\e067";
}
.icon-checkmark:before {
	content: "\e068";
}
.icon-login:before {
	content: "\e069";
}
.icon-logout:before {
	content: "\e06a";
}
.icon-lock-open:before {
	content: "\e06b";
}
.icon-lock:before {
	content: "\e06c";
}
.icon-graph:before {
	content: "\e06d";
}
.icon-bars:before {
	content: "\e06e";
}
.icon-pie:before {
	content: "\e06f";
}
.icon-statistics:before {
	content: "\e070";
}
.icon-untitled-3:before {
	content: "\e071";
}
.icon-droplets:before {
	content: "\e072";
}
.icon-thermometer:before {
	content: "\e073";
}
.icon-signal:before {
	content: "\e074";
}
.icon-rss:before {
	content: "\e075";
}
.icon-ticket:before {
	content: "\e076";
}
.icon-cross:before {
	content: "\e077";
}
.icon-minus:before {
	content: "\e078";
}
.icon-plus:before {
	content: "\e079";
}
.icon-cross-2:before {
	content: "\e07a";
}
.icon-minus-2:before {
	content: "\e07b";
}
.icon-plus-2:before {
	content: "\e07c";
}
.icon-cross-3:before {
	content: "\e07d";
}
.icon-minus-3:before {
	content: "\e07e";
}
.icon-plus-3:before {
	content: "\e07f";
}
.icon-erase:before {
	content: "\e080";
}
.icon-blocked:before {
	content: "\e081";
}
.icon-info:before {
	content: "\e082";
}
.icon-info-2:before {
	content: "\e083";
}
.icon-question:before {
	content: "\e084";
}
.icon-help:before {
	content: "\e085";
}
.icon-layout:before {
	content: "\e086";
}
.icon-add-to-list:before {
	content: "\e087";
}
.icon-list:before {
	content: "\e088";
}
.icon-switch:before {
	content: "\e089";
}
.icon-back:before {
	content: "\e08a";
}
.icon-history:before {
	content: "\e08b";
}
.icon-loop:before {
	content: "\e08c";
}
.icon-retweet:before {
	content: "\e08d";
}
.icon-arrow:before {
	content: "\e08e";
}
.icon-arrow-2:before {
	content: "\e08f";
}
.icon-shuffle:before {
	content: "\e090";
}
.icon-cw:before {
	content: "\e091";
}
.icon-cycle:before {
	content: "\e092";
}
.icon-warning:before {
	content: "\e093";
}
.icon-ccw:before {
	content: "\e094";
}
.icon-list-2:before {
	content: "\e095";
}
.icon-text:before {
	content: "\e096";
}
.icon-text-2:before {
	content: "\e097";
}
.icon-document:before {
	content: "\e098";
}
.icon-docs:before {
	content: "\e099";
}
.icon-landscape:before {
	content: "\e09a";
}
.icon-pictures:before {
	content: "\e09b";
}
.icon-video:before {
	content: "\e09c";
}
.icon-music-3:before {
	content: "\e09d";
}
.icon-folder:before {
	content: "\e09e";
}
.icon-archive:before {
	content: "\e09f";
}
.icon-trash:before {
	content: "\e0a0";
}
.icon-upload:before {
	content: "\e0a1";
}
.icon-download:before {
	content: "\e0a2";
}
.icon-disk:before {
	content: "\e0a3";
}
.icon-resize-enlarge:before {
	content: "\e0a4";
}
.icon-last:before {
	content: "\e0a5";
}
.icon-first:before {
	content: "\e0a6";
}
.icon-previous:before {
	content: "\e0a7";
}
.icon-next:before {
	content: "\e0a8";
}
.icon-stop:before {
	content: "\e0a9";
}
.icon-record:before {
	content: "\e0aa";
}
.icon-pause:before {
	content: "\e0ab";
}
.icon-play:before {
	content: "\e0ac";
}
.icon-book-2:before {
	content: "\e0ad";
}
.icon-bookmarks:before {
	content: "\e0ae";
}
.icon-bookmark:before {
	content: "\e0af";
}
.icon-upload-2:before {
	content: "\e0b0";
}
.icon-cloud:before {
	content: "\e0b1";
}
.icon-install:before {
	content: "\e0b2";
}
.icon-resize-shrink:before {
	content: "\e0b3";
}
.icon-volume:before {
	content: "\e0b4";
}
.icon-sound:before {
	content: "\e0b5";
}
.icon-mute:before {
	content: "\e0b6";
}
.icon-flow-cascade:before {
	content: "\e0b7";
}
.icon-flow-branch:before {
	content: "\e0b8";
}
.icon-flow-tree:before {
	content: "\e0b9";
}
.icon-flow-line:before {
	content: "\e0ba";
}
.icon-flow-parallel:before {
	content: "\e0bb";
}
.icon-arrow-left:before {
	content: "\e0bc";
}
.icon-arrow-down:before {
	content: "\e0bd";
}
.icon-arrow-up--upload:before {
	content: "\e0be";
}
.icon-arrow-right:before {
	content: "\e0bf";
}
.icon-arrow-left-2:before {
	content: "\e0c0";
}
.icon-arrow-down-2:before {
	content: "\e0c1";
}
.icon-arrow-left-3:before {
	content: "\e0c2";
}
.icon-arrow-right-2:before {
	content: "\e0c3";
}
.icon-arrow-up:before {
	content: "\e0c4";
}
.icon-arrow-down-3:before {
	content: "\e0c5";
}
.icon-arrow-left-4:before {
	content: "\e0c6";
}
.icon-arrow-right-3:before {
	content: "\e0c7";
}
.icon-arrow-up-2:before {
	content: "\e0c8";
}
.icon-arrow-down-4:before {
	content: "\e0c9";
}
.icon-arrow-left-5:before {
	content: "\e0ca";
}
.icon-arrow-right-4:before {
	content: "\e0cb";
}
.icon-arrow-up-3:before {
	content: "\e0cc";
}
.icon-arrow-down-5:before {
	content: "\e0cd";
}
.icon-arrow-left-6:before {
	content: "\e0ce";
}
.icon-arrow-right-5:before {
	content: "\e0cf";
}
.icon-arrow-up-4:before {
	content: "\e0d0";
}
.icon-arrow-down-6:before {
	content: "\e0d1";
}
.icon-arrow-up-5:before {
	content: "\e0d2";
}
.icon-arrow-right-6:before {
	content: "\e0d3";
}
.icon-arrow-left-7:before {
	content: "\e0d4";
}
.icon-arrow-down-7:before {
	content: "\e0d5";
}
.icon-arrow-up-6:before {
	content: "\e0d6";
}
.icon-untitled-4:before {
	content: "\e0d7";
}
.icon-arrow-left-8:before {
	content: "\e0d8";
}
.icon-arrow-down-8:before {
	content: "\e0d9";
}
.icon-arrow-up-7:before {
	content: "\e0da";
}
.icon-arrow-right-7:before {
	content: "\e0db";
}
.icon-menu:before {
	content: "\e0dc";
}
.icon-ellipsis:before {
	content: "\e0dd";
}
.icon-dots:before {
	content: "\e0de";
}
.icon-dot:before {
	content: "\e0df";
}
.icon-cc:before {
	content: "\e0e0";
}
.icon-cc-by:before {
	content: "\e0e1";
}
.icon-cc-nc:before {
	content: "\e0e2";
}
.icon-cc-nc-eu:before {
	content: "\e0e3";
}
.icon-cc-nc-jp:before {
	content: "\e0e4";
}
.icon-cc-sa:before {
	content: "\e0e5";
}
.icon-cc-nd:before {
	content: "\e0e6";
}
.icon-cc-pd:before {
	content: "\e0e7";
}
.icon-cc-zero:before {
	content: "\e0e8";
}
.icon-cc-share:before {
	content: "\e0e9";
}
.icon-cc-share-2:before {
	content: "\e0ea";
}
.icon-daniel-bruce:before {
	content: "\e0ec";
}
.icon-github:before {
	content: "\e0ed";
}
.icon-github-2:before {
	content: "\e0ee";
}
.icon-flickr:before {
	content: "\e0ef";
}
.icon-flickr-2:before {
	content: "\e0f0";
}
.icon-vimeo:before {
	content: "\e0f1";
}
.icon-vimeo-2:before {
	content: "\e0f2";
}
.icon-twitter:before {
	content: "\e0f3";
}
.icon-twitter-2:before {
	content: "\e0f4";
}
.icon-facebook:before {
	content: "\e0f5";
}
.icon-facebook-2:before {
	content: "\e0f6";
}
.icon-facebook-3:before {
	content: "\e0f7";
}
.icon-googleplus:before {
	content: "\e0f8";
}
.icon-googleplus-2:before {
	content: "\e0f9";
}
.icon-pinterest:before {
	content: "\e0fa";
}
.icon-pinterest-2:before {
	content: "\e0fb";
}
.icon-tumblr:before {
	content: "\e0fc";
}
.icon-dropbox:before {
	content: "\e0fd";
}
.icon-tumblr-2:before {
	content: "\e0fe";
}
.icon-instagram:before {
	content: "\e0ff";
}
.icon-smashing:before {
	content: "\e100";
}
.icon-vk:before {
	content: "\e101";
}
.icon-qq:before {
	content: "\e102";
}
.icon-spotify:before {
	content: "\e103";
}
.icon-circles:before {
	content: "\e104";
}
.icon-behance:before {
	content: "\e105";
}
.icon-spotify-2:before {
	content: "\e106";
}
.icon-rdio:before {
	content: "\e107";
}
.icon-mixi:before {
	content: "\e108";
}
.icon-soundcloud:before {
	content: "\e109";
}
.icon-rdio-2:before {
	content: "\e10a";
}
.icon-lastfm:before {
	content: "\e10b";
}
.icon-picasa:before {
	content: "\e10c";
}
.icon-paypal:before {
	content: "\e10d";
}
.icon-lastfm-2:before {
	content: "\e10e";
}
.icon-stumbleupon:before {
	content: "\e10f";
}
.icon-sina-weibo:before {
	content: "\e110";
}
.icon-renren:before {
	content: "\e111";
}
.icon-stumbleupon-2:before {
	content: "\e112";
}
.icon-dribbble:before {
	content: "\e113";
}
.icon-skype:before {
	content: "\e114";
}
.icon-skype-2:before {
	content: "\e115";
}
.icon-dribbble-2:before {
	content: "\e116";
}
.icon-linkedin:before {
	content: "\e117";
}
.icon-flattr:before {
	content: "\e118";
}
.icon-evernote:before {
	content: "\e119";
}
.icon-linkedin-2:before {
	content: "\e11a";
}
.icon-untitled-5:before {
	content: "\e11b";
}
.icon-untitled-6:before {
	content: "\e11c";
}
.icon-untitled-7:before {
	content: "\e11d";
}
.icon-untitled-8:before {
	content: "\e11e";
}
.icon-untitled-9:before {
	content: "\e11f";
}
.icon-untitled-10:before {
	content: "\e120";
}
.icon-untitled-11:before {
	content: "\e121";
}
.icon-untitled-12:before {
	content: "\e122";
}
.icon-untitled-13:before {
	content: "\e123";
}
.icon-untitled-14:before {
	content: "\e124";
}
.icon-untitled-15:before {
	content: "\e125";
}
.icon-untitled-16:before {
	content: "\e126";
}
.icon-untitled-17:before {
	content: "\e127";
}
.icon-untitled-18:before {
	content: "\e128";
}
.icon-untitled-19:before {
	content: "\e129";
}
.icon-untitled-20:before {
	content: "\e12a";
}
.icon-star-2:before {
	content: "\e0eb";
}
.icon-forward:before {
	content: "\e12b";
}
.icon-map:before {
	content: "\e12c";
}
