/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio, canvas, video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button, input, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* FONTS */
@font-face {
  font-family: "OpenSansLight";
  src: url('../assets/fonts/open-sans/OpenSansLight.eot');
  src: url('../assets/fonts/open-sans/OpenSansLight.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/open-sans/OpenSansLight.woff') format('woff'), url('../assets/fonts/open-sans/OpenSansLight.ttf') format('truetype'), url('../assets/fonts/open-sans/OpenSansLight.svg#OpenSansLight') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSansLightItalic";
  src: url('../assets/fonts/open-sans/OpenSansLightItalic.eot');
  src: url('../assets/fonts/open-sans/OpenSansLightItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/open-sans/OpenSansLightItalic.woff') format('woff'), url('../assets/fonts/open-sans/OpenSansLightItalic.ttf') format('truetype'), url('../assets/fonts/open-sans/OpenSansLightItalic.svg#OpenSansLightItalic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSansRegular";
  src: url('../assets/fonts/open-sans/OpenSansRegular.eot');
  src: url('../assets/fonts/open-sans/OpenSansRegular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/open-sans/OpenSansRegular.woff') format('woff'), url('../assets/fonts/open-sans/OpenSansRegular.ttf') format('truetype'), url('../assets/fonts/open-sans/OpenSansRegular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSansItalic";
  src: url('../assets/fonts/open-sans/OpenSansItalic.eot');
  src: url('../assets/fonts/open-sans/OpenSansItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/open-sans/OpenSansItalic.woff') format('woff'), url('../assets/fonts/open-sans/OpenSansItalic.ttf') format('truetype'), url('../assets/fonts/open-sans/OpenSansItalic.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSansSemibold";
  src: url('../assets/fonts/open-sans/OpenSansSemibold.eot');
  src: url('../assets/fonts/open-sans/OpenSansSemibold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/open-sans/OpenSansSemibold.woff') format('woff'), url('../assets/fonts/open-sans/OpenSansSemibold.ttf') format('truetype'), url('../assets/fonts/open-sans/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSansSemiboldItalic";
  src: url('../assets/fonts/open-sans/OpenSansSemiboldItalic.eot');
  src: url('../assets/fonts/open-sans/OpenSansSemiboldItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/open-sans/OpenSansSemiboldItalic.woff') format('woff'), url('../assets/fonts/open-sans/OpenSansSemiboldItalic.ttf') format('truetype'), url('../assets/fonts/open-sans/OpenSansSemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSansBold";
  src: url('../assets/fonts/open-sans/OpenSansBold.eot');
  src: url('../assets/fonts/open-sans/OpenSansBold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/open-sans/OpenSansBold.woff') format('woff'), url('../assets/fonts/open-sans/OpenSansBold.ttf') format('truetype'), url('../assets/fonts/open-sans/OpenSansBold.svg#OpenSansBold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSansBoldItalic";
  src: url('../assets/fonts/open-sans/OpenSansBoldItalic.eot');
  src: url('../assets/fonts/open-sans/OpenSansBoldItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/open-sans/OpenSansBoldItalic.woff') format('woff'), url('../assets/fonts/open-sans/OpenSansBoldItalic.ttf') format('truetype'), url('../assets/fonts/open-sans/OpenSansBoldItalic.svg#OpenSansBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSansExtrabold";
  src: url('../assets/fonts/open-sans/OpenSansExtrabold.eot');
  src: url('../assets/fonts/open-sans/OpenSansExtrabold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/open-sans/OpenSansExtrabold.woff') format('woff'), url('../assets/fonts/open-sans/OpenSansExtrabold.ttf') format('truetype'), url('../assets/fonts/open-sans/OpenSansExtrabold.svg#OpenSansExtrabold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSansExtraboldItalic";
  src: url('../assets/fonts/open-sans/OpenSansExtraboldItalic.eot');
  src: url('../assets/fonts/open-sans/OpenSansExtraboldItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/open-sans/OpenSansExtraboldItalic.woff') format('woff'), url('../assets/fonts/open-sans/OpenSansExtraboldItalic.ttf') format('truetype'), url('../assets/fonts/open-sans/OpenSansExtraboldItalic.svg#OpenSansExtraboldItalic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "IcoMoonSubset";
  src: url('../assets/fonts/ico-moon-subset/IcoMoonSubset.eot');
  src: url('../assets/fonts/ico-moon-subset/IcoMoonSubset.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/ico-moon-subset/IcoMoonSubset.woff') format('woff'), url('../assets/fonts/ico-moon-subset/IcoMoonSubset.ttf') format('truetype'), url('../assets/fonts/ico-moon-subset/IcoMoonSubset.svg#IcoMoonSubset') format('svg');
  font-weight: normal;
  font-style: normal; }

img, object, embed {
  max-width: 100%;
  height: auto; }

object, embed {
  height: 100%; }

.row {
  zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.row {
  max-width: 100%;
  margin: 0 auto; }
  .row .row {
    width: auto;
    max-width: none;
    min-width: 0; }
  .row.collapse .col {
    padding: 0; }
  .row .row.collapse {
    margin: 0; }

.col {
  position: relative; }

.box {
  background-color: #f2f2f2;
  border: 1px solid #e0e0e0;
  padding: 18.662px;
  margin: 0 0 18.662px;
  border-radius: 0.14em; }
  .box > :last-child {
    margin-bottom: 0; }
  .box > :first-child {
    margin-top: 0; }

.compact {
  padding: 9.331px; }

table {
  width: 100%; }

[class^="mob-"], .col {
  min-height: 1px;
  padding: 0 9.331px; }
  [class^="mob-"].center, .col.center {
    float: none;
    margin: 0 auto; }

[class^="mob-"] {
  float: left; }
  [class^="mob-"] + [class^="mob-"]:last-child {
    float: right; }
  [class^="mob-"] + [class^="mob-"].end {
    float: left; }

.mob-i, .row .mob-i {
  width: 25%; }

.mob-ii, .row .mob-ii {
  width: 50%; }

.mob-iii, .row .mob-iii {
  width: 75%; }

.mob-iv, .row .mob-iv {
  width: 100%; }

@media only screen and (min-width: 48em) {
  body {
    padding: 0; }
  .row {
    width: 960px; }
    .row .row {
      margin: 0 -10px; }
  .col {
    float: left; }
    .col.center {
      float: none;
      margin: 0 auto; }
    .col + .col:last-child {
      float: right; }
    .col + .col.end {
      float: left; } }

@media only screen and (min-width: 48em) {
  .i, .row .i {
    width: 8.33333%; }
  .ii, .row .ii {
    width: 16.66667%; }
  .iii, .row .iii {
    width: 25%; }
  .iv, .row .iv {
    width: 33.33333%; }
  .v, .row .v {
    width: 41.66667%; }
  .vi, .row .vi {
    width: 50%; }
  .vii, .row .vii {
    width: 58.33333%; }
  .viii, .row .viii {
    width: 66.66667%; }
  .ix, .row .ix {
    width: 75%; }
  .x, .row .x {
    width: 83.33333%; }
  .xi, .row .xi {
    width: 91.66667%; }
  .xii, .row .xii {
    width: 100%; }
  .row .offset-i {
    margin-left: 8.33333%; }
  .row .offset-ii {
    margin-left: 16.66667%; }
  .row .offset-iii {
    margin-left: 25%; }
  .row .offset-iv {
    margin-left: 33.33333%; }
  .row .offset-v {
    margin-left: 41.66667%; }
  .row .offset-vi {
    margin-left: 50%; }
  .row .offset-vi {
    margin-left: 58.33333%; }
  .row .offset-viii {
    margin-left: 66.66667%; }
  .row .offset-ix {
    margin-left: 75%; }
  .row .offset-x {
    margin-left: 83.33333%; }
  .push-ii {
    left: 16.66667%; }
  .pull-ii {
    right: 16.66667%; }
  .push-iii {
    left: 25%; }
  .pull-iii {
    right: 25%; }
  .push-iv {
    left: 33.33333%; }
  .pull-iv {
    right: 33.33333%; }
  .push-v {
    left: 41.66667%; }
  .pull-v {
    right: 41.66667%; }
  .push-vi {
    left: 50%; }
  .pull-vi {
    right: 50%; }
  .push-vi {
    left: 58.33333%; }
  .pull-vi {
    right: 58.33333%; }
  .push-viii {
    left: 66.66667%; }
  .pull-viii {
    right: 66.66667%; }
  .push-ix {
    left: 75%; }
  .pull-ix {
    right: 75%; }
  .push-x {
    left: 83.33333%; }
  .pull-x {
    right: 83.33333%; } }

.blocks {
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }
  .blocks > li {
    height: auto;
    padding: 4.6655px;
    float: left; }
    .blocks > li > :last-child {
      margin: 0; }
    .blocks > li:before {
      display: none; }
  .blocks.mob-ii-up > li {
    width: 50%; }
  .blocks.mob-iii-up > li {
    width: 33.333%; }
  .blocks.mob-iv-up > li {
    width: 25%; }
  .blocks.mob-ii-up > li:nth-child(2n+1), .blocks.mob-iii-up > li:nth-child(3n+1), .blocks.mob-iv-up > li:nth-child(4n+1) {
    clear: both; }
  @media only screen and (min-width: 37.5em) {
    .blocks > li {
      padding: 9.331px; }
    .blocks.i-up > li {
      width: 100%; }
    .blocks.ii-up > li {
      width: 50%; }
    .blocks.iii-up > li {
      width: 33.333%; }
    .blocks.iv-up > li {
      width: 25%; }
    .blocks.v-up > li {
      width: 20%; }
    .blocks.vi-up > li {
      width: 16.666%; }
    .blocks.vii-up > li {
      width: 14.285%; }
    .blocks.viii-up > li {
      width: 12.5%; }
    .blocks.ix-up > li {
      width: 11.111%; }
    .blocks.x-up > li {
      width: 10%; }
    .blocks.ii-up > li:nth-child(2n+1), .blocks.iii-up > li:nth-child(3n+1), .blocks.iv-up > li:nth-child(4n+1), .blocks.v-up > li:nth-child(5n+1), .blocks.vi-up > li:nth-child(6n+1), .blocks.vii-up > li:nth-child(7n+1), .blocks.viii-up > li:nth-child(8n+1), .blocks.ix-up > li:nth-child(9n+1), .blocks.x-up > li:nth-child(10n+1) {
      clear: both; }
    .blocks.mob-ii-up > li:nth-child(2n+1), .blocks.mob-iii-up > li:nth-child(3n+1), .blocks.mob-iv-up > li:nth-child(4n+1) {
      clear: none; } }

.media {
  overflow: hidden; }
  .media .img {
    float: left;
    margin: 0 18.662px 18.662px 0; }
    .media .img[class^="mob-"] {
      padding: 0; }
  .media .bd {
    overflow: hidden; }
    .media .bd > :first-child {
      margin-top: 0; }
  .media .media .img {
    margin: 0 9.331px 9.331px 0; }

/* =====[ MAIN ]===== */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font: 1.4em/1.634 "OpenSansRegular", "Helvetica Neue", sans-serif;
  color: #2e4e62; }

::-moz-selection {
  background: #c5d8e4;
  text-shadow: none; }

::selection {
  background: #c5d8e4;
  text-shadow: none; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  margin: 18.662px 0; }

a:link {
  color: #4f86a7;
  text-decoration: none;
  border-bottom: 1px dotted;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -o-transition: color .2s;
  -ms-transition: color .2s;
  transition: color .2s; }

a:visited, a:active {
  color: #4f86a7; }

a:hover, a:focus {
  color: #c0392b;
  border-bottom: 1px solid #c0392b; }

img, video, audio, object {
  max-width: 100%; }

img {
  vertical-align: middle; }

video {
  background-color: #d4d4d4; }

.img-bordered {
  border: 3px solid #f3f3f3;
  box-shadow: 0 0 0 1px #e1e1e1; }

h1, h2, h3, h4, h5, h6 {
  font-family: "OpenSansBold", sans-serif;
  font-weight: normal;
  line-height: 1.333;
  margin: 18.662px 0; }
  h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
    border: none; }

h1 {
  font-size: 2.179em; }

h2 {
  font-size: 1.777em; }

h3 {
  font-size: 1.634em; }

h4 {
  font-size: 1.333em; }

h5 {
  font-size: 1.226em; }

h6 {
  font-size: 1em; }

p, pre {
  margin: 18.662px 0; }

small {
  font-size: .86em; }

strong {
  font-family: "OpenSansBold", sans-serif;
  font-weight: normal; }

em {
  font-family: "OpenSansItalic", sans-serif;
  font-style: normal; }

mark {
  background-color: #ffe062; }

address {
  font-style: normal; }

blockquote {
  border-left: 2px solid #d4d4d4;
  padding-left: 18.662px;
  margin: 18.662px; }
  blockquote .attribution {
    display: block;
    color: #959595; }

q {
  font-style: italic; }
  q:before {
    content: "\201c"; }
  q:after {
    content: "\201d"; }

code {
  background: #fff1b8; }

.aside {
  color: #959595;
  font-size: 0.86em;
  line-height: 1.777; }

.leader {
  font-size: 1.634em; }

.mute {
  color: #959595; }

[data-icon]:before {
  font-family: IcoMoonSubset;
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

dl, menu, ol, ul {
  margin: 18.662px 0; }

dd {
  margin: 0 0 0 40px; }

ul {
  list-style: none;
  padding-left: 18.662px; }
  ul ul, ul ol {
    padding-left: 18.662px;
    margin: 0; }
    ul ul li:before, ul ol li:before {
      border: 1px solid #959595;
      background: none; }
  ul li {
    padding-left: .75em;
    position: relative; }
    ul li:before {
      content: '';
      position: absolute;
      left: 0;
      top: .6em;
      background: #555555;
      width: .36em;
      height: .36em; }

ol ol, ol ul {
  padding-left: 18.662px;
  margin: 0;
  list-style-position: inside; }
ol.alpha {
  list-style: upper-alpha; }
  ol.alpha ol {
    list-style: lower-alpha inside; }

dt {
  font-family: "OpenSansBold"; }

dd {
  margin: 0 0 18.662px 0; }

@media only screen and (min-width: 30em) {
  dt {
    text-align: right;
    padding-right: 18.662px;
    width: 15%;
    float: left; }
  dd {
    margin-left: 15%; } }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-size: 1.634em;
  display: block;
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 9.331px; }
  legend small {
    color: #959595;
    font-weight: 200; }

label {
  margin: 9.331px 0;
  display: block;
  position: relative; }

.horizontal label {
  display: inline;
  margin-right: 1em; }
  .horizontal label:last-child {
    margin-right: 0; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"] {
  line-height: 2.369em;
  height: 2.369em;
  padding: .518em;
  margin: .518em 0;
  border: 1px solid #d4d4d4;
  border-radius: 0.14em; }

input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, select:focus, textarea:focus, button:focus {
  -webkit-transition: box-shadow .3s ease-in-out;
  -moz-transition: box-shadow .3s ease-in-out;
  -o-transition: box-shadow .3s ease-in-out;
  -ms-transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  border-color: #555555;
  outline: none;
  box-shadow: none; }

input[type="file"] {
  font-style: italic;
  color: #555555; }

textarea {
  height: 7.478em;
  padding: .518em;
  margin: .518em 0;
  border: 1px solid #d4d4d4;
  resize: vertical;
  border-radius: 0.14em; }

select[multiple] {
  border: 1px solid #d4d4d4;
  border-radius: 0.14em; }

.disabled {
  color: #959595;
  font-style: italic;
  opacity: .7; }

::-webkit-input-placeholder {
  font-family: "OpenSansRegular", "Helvetica Neue", sans-serif;
  color: #555555; }

:-moz-placeholder {
  font-family: "OpenSansRegular", "Helvetica Neue", sans-serif;
  color: #555555; }

.button, a.button {
  font-family: inherit;
  color: #f3f3f3;
  vertical-align: middle;
  text-decoration: none;
  text-shadow: 1px 1px 0 #3f6a84;
  background: #4f86a7;
  display: inline-block;
  border: 1px solid #4f86a7;
  padding: .518em 1em;
  border-radius: 0.14em; }

.button.large {
  font-size: 1.634em; }

.button.mini {
  font-size: 0.71em;
  text-transform: uppercase;
  letter-spacing: 1px; }

.button.gloss {
  background: -webkit-linear-gradient(bottom, #4f86a7 0%, #5d92b2 100%);
  background: -moz-linear-gradient(bottom, #4f86a7 0%, #5d92b2 100%);
  box-shadow: inset 1px 1px 0 0 rgba(145, 181, 203, 0.5); }

.button.secondary {
  background: #e1e1e1;
  color: #555555;
  text-shadow: 1px 1px 0 #f3f3f3;
  border-color: #d4d4d4; }

.secondary.gloss {
  background: -webkit-linear-gradient(bottom, #d4d4d4 0%, #e9e9e9 100%);
  background: -moz-linear-gradient(bottom, #d4d4d4 0%, #e1e1e1 100%);
  box-shadow: inset 1px 1px 0 0 rgba(243, 243, 243, 0.5); }

.button:hover {
  background: #477896; }

.secondary:hover {
  background: #d5d5d5; }

table {
  margin: 18.662px 0; }

caption, tr, td, th {
  text-align: left;
  padding: 9.331px; }

caption {
  font-size: 1.226em;
  font-family: "OpenSansBold";
  font-weight: normal;
  padding-top: 0; }

tr {
  border-bottom: 1px solid #e9e9e9; }

th {
  font-family: "OpenSansBold";
  font-weight: normal; }

thead {
  border-bottom: 2px solid #d4d4d4; }

tbody tr:last-child {
  border-bottom: none; }

.table-bordered td, .table-bordered th {
  border: 1px solid #e9e9e9; }

.table-striped tr:nth-child(even) {
  background: #f6f6f6; }

.table-compact caption, .table-compact tr, .table-compact td, .table-compact th {
  padding: 0.388em; }

.fatzebra tr:nth-child(6n), .fatzebra tr:nth-child(6n-1), .fatzebra tr:nth-child(6n-2) {
  background: #f3f3f3; }

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }

.fade.in {
  opacity: 1; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========[ MISCELLANEOUS HELPER/UTILITY CLASSES ]========== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.circle {
  border-radius: 35.71em; }

.floatL {
  float: left; }

.floatR {
  float: right; }

.box-center {
  margin: auto; }

.text-center {
  text-align: center; }
