.round {
  width: 90vw;
  margin: 37.324px auto; }

.phase {
  width: 100%;
  margin: 37.324px auto;
  padding-bottom: 37.324px;
  border-bottom: 1px solid #eeeeee;
  zoom: 1; }
  .phase:before, .phase:after {
    content: " ";
    display: table; }
  .phase:after {
    clear: both; }

.target {
  width: 29vw;
  height: 29vw;
  max-width: 300px;
  max-height: 300px;
  margin: 18.662px 0;
  margin-right: 1vw;
  border: 1px solid #d4d4d4;
  float: left;
  background: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vmin;
  font-weight: bold; }
  .target.single {
    width: 50vw;
    height: 50vw; }

code {
  background: transparent;
  @at-root h2 {
    font-weight: bold; }
 }

button {
  display: block;
  clear: both;
  padding: .518em 1em;
  border: 1px solid #d4d4d4;
  text-shadow: 1px 1px 0 #f3f3f3;
  background: #e1e1e1;
  color: #555555;
  border-radius: 0.14em; }
  button:hover {
    background: #d5d5d5; }
  button.fn-not-found {
    background: #d6393d;
    color: #f3f3f3;
    text-shadow: none;
    border-color: #c0392b;
    cursor: not-allowed; }

.remove-class-target {
  background: #91b5cb; }
  .remove-class-target.remove-this {
    background: #eeeeee;
    position: relative; }
    .remove-class-target.remove-this:after {
      content: '.remove-this';
      width: 94%;
      height: 94%;
      position: absolute;
      top: 3%;
      left: 3%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      transform: rotate(-9deg);
      background: #d6393d;
      border-color: #f3f3f3;
      opacity: 0.9; }

.untitled {
  transition: all 0.8s;
  transform: rotate(360deg);
  background: #91b5cb; }
  .untitled:nth-of-type(even) {
    transform: rotate(-360deg);
    background: #df7c72; }

.add-class-target, .remove-class-target, .toggle-class-target {
  width: 21vw;
  height: 21vw; }
