body {
  max-width: 100%;
  margin: 0 auto;
  zoom: 1; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }
  @media only screen and (min-width: 48em) {
    body {
      width: 960px; } }

.gallery {
  float: none;
  margin: 0 auto;
  min-height: 1px;
  padding: 0 9.331px;
  zoom: 1;
  margin-top: 55.986px;
  margin-bottom: 55.986px; }
  @media only screen and (min-width: 37.5em) {
    .gallery {
      width: 100%; } }
  .gallery:before, .gallery:after {
    content: " ";
    display: table; }
  .gallery:after {
    clear: both; }

.thumbnails {
  float: left;
  min-height: 1px;
  padding: 0 9.331px;
  margin: 0; }
  @media only screen and (min-width: 37.5em) {
    .thumbnails {
      width: 33.33333%; } }
  .thumbnails li {
    width: 49%;
    float: left;
    padding: 0;
    margin-right: 1%;
    margin-bottom: 2%; }
    .thumbnails li:nth-child(even) {
      float: right;
      margin-right: 0; }
    .thumbnails li:before {
      display: none; }
  .thumbnails a {
    width: 100%;
    border-bottom: none;
    display: block; }
  .thumbnails img {
    width: 100%; }

.img-viewer {
  float: left;
  min-height: 1px;
  padding: 0 9.331px;
  padding: 0;
  position: relative; }
  @media only screen and (min-width: 37.5em) {
    .img-viewer {
      width: 66.66667%; } }
  .img-viewer img {
    width: 100%; }
  .img-viewer:after {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url('../assets/img/3.gif') no-repeat 9.331px 9.331px;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }
  .img-viewer.loading:after {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); }
