<article>
  <img src="../assets/img/cat1.jpg">
  <h1>Kitty 1</h1>
  <div>
    <p>Lorizzle ipsum dolor sit mofo, pot adipiscing yippiyo. Nullam sapizzle velizzle, crackalackin volutpizzle, check it out yo mamma, break it down tellivizzle, shizznit. Pellentesque eget brizzle. Cool erizzle. Fo shizzle izzle crazy dapibizzle turpis tempizzle tempor. Maurizzle bling bling nibh et.</p>
  </div>
</article>
