<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JQuery Ajax Book List</title>
    <link rel="stylesheet" href="ajax.css">
    <template id="book-tmpl" type="text/html">
        <li><strong>{{ title }}</strong> by {{ author }}</li>
    </template>
</head>
<body>
  
    <h1>Books</h1>
    
    <ul class="books"></ul>
    
   <script src="../assets/js/jquery.js"></script>
   <script src="ajax.js"></script>
</body>
</html>