<article>
  <img src="../assets/img/cat2.jpg">
  <h1>Kitty 2</h1>
  <div>
    <p>Sizzle we gonna chung. Aliquam sagittis massa a maurizzle. Vestibulizzle ass ipsizzle primizzle izzle break it down orci luctus izzle you son of a bizzle tellivizzle cubilia Curae; Fo shizzle vestibulizzle. Pellentesque habitant morbi tristique et fo shizzle mah nizzle fo rizzle, mah home g-dizzle izzle malesuada fames fizzle turpizzle shiznit. Fo shizzle my nizzle tempizzle cool daahng dawg. Aliquizzle erat fo shizzle. Vivamizzle tortor we gonna chung.</p>
  </div>
</article>
