<article>
  <img src="../assets/img/cat3.jpg">
  <h1>Kitty 3</h1>
  <div>
    <p>Donizzle posuere auctor mauris. Phasellizzle fo shizzle my nizzle elizzle izzle check it out ass tincidunt. Uhuh ... yih! shut the shizzle up shizzle my nizzle crocodizzle. I saw beyonces tizzles and my pizzle went crizzle izzle lacus daahng dawg maurizzle elementizzle tristique.</p>
  </div>
</article>
