@font-face {
	font-family: 'IcoMoonSubset';
	src:url('IcoMoonSubset.eot');
	src:url('IcoMoonSubset.eot?#iefix') format('embedded-opentype'),
		url('IcoMoonSubset.woff') format('woff'),
		url('IcoMoonSubset.ttf') format('truetype'),
		url('IcoMoonSubset.svg#IcoMoonSubset') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'IcoMoonSubset';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-github, .icon-twitter, .icon-selecting, .icon-traversing, .icon-filtering, .icon-correct, .icon-incorrect, .icon-correct-2, .icon-correct-3, .icon-incorrect-2, .icon-incorrect-3, .icon-error, .icon-error-2 {
	font-family: 'IcoMoonSubset';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-github:before {
	content: "\f09b";
}
.icon-twitter:before {
	content: "\e000";
}
.icon-selecting:before {
	content: "\e007";
}
.icon-traversing:before {
	content: "\f0e8";
}
.icon-filtering:before {
	content: "\f0b0";
}
.icon-correct:before {
	content: "\f00c";
}
.icon-incorrect:before {
	content: "\f00d";
}
.icon-correct-2:before {
	content: "\e006";
}
.icon-correct-3:before {
	content: "\e005";
}
.icon-incorrect-2:before {
	content: "\e004";
}
.icon-incorrect-3:before {
	content: "\e003";
}
.icon-error:before {
	content: "\e002";
}
.icon-error-2:before {
	content: "\e001";
}
