.canvas {
    border: 1px solid #444;
}

.box {
    margin-top: 1em;
    border: 1px solid blue;
   /* animation-name: example;
    animation-duration: 4s;*/
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}