html {
  overflow-y: scroll; }

body {
  max-width: 100%;
  margin: 0 auto;
  zoom: 1; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }
  @media only screen and (min-width: 48em) {
    body {
      width: 960px; } }

.kitty-profiles {
  margin: 55.986px 0; }

.kitty-list {
  float: left;
  min-height: 1px;
  padding: 0 9.331px;
  margin: 0;
  padding: 0; }
  @media only screen and (min-width: 37.5em) {
    .kitty-list {
      width: 25%; } }
  .kitty-list li {
    margin-bottom: 9.331px; }
    .kitty-list li:before {
      display: none; }
    @media only screen and (min-width: 30em) and (max-width: 37.5em) {
      .kitty-list li {
        width: 50%;
        float: left; } }
  .kitty-list img {
    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");
    filter: grayscale(100%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  .kitty-list a:hover img, .kitty-list .current img {
    filter: none;
    filter: grayscale(0%); }
  .kitty-list a {
    display: block;
    position: relative; }
    .kitty-list a:link {
      border-bottom: none; }

.kitty-content {
  float: left;
  min-height: 1px;
  padding: 0 9.331px;
  position: relative; }
  @media only screen and (min-width: 37.5em) {
    .kitty-content {
      width: 75%; } }
  .kitty-content::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.5) url('../assets/img/3.gif') no-repeat 27.993px 18.662px;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .kitty-content.loading::before {
    opacity: 1;
    z-index: 10; }
  .kitty-content img {
    width: 100%; }
