body {
  max-width: 100%;
  margin: 0 auto;
  zoom: 1; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }
  @media only screen and (min-width: 48em) {
    body {
      width: 960px; } }

.grid {
  width: 960px;
  zoom: 1;
  padding-left: 0; }
  .grid:before, .grid:after {
    content: " ";
    display: table; }
  .grid:after {
    clear: both; }
  .grid > li {
    width: 240px;
    float: left;
    padding: 4.6655px; }
    .grid > li:before {
      display: none; }

/* Flexy goodness */
/*
.grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
*/