* { box-sizing: border-box; }

html, body { margin: 0; padding: 0; }

body {    
    background-color: #4a4a4a;
    font: 100%/1.4 Arial, Helvetica, san-serif;
    color: #444;
}

.container {
    max-width: 1200px;
}

header {
    background: #efefef;
    border-bottom: 4px solid #ddd;
    padding: 1em;
}

main {    
    background-color: #fff;
    padding: 1em;
}

footer {
    background-color: #4a4a4a;
    border-top: 1px solid #ccc;
    color: #ddd;
    font-size: .75rem;
    padding: 1rem;
}

/* Form
------------------------------------------------- */
fieldset { 
    border: 2px solid #ededed; 
    border-radius: 4px;
    padding: 1em;
    max-width: 600px;
}

legend {
    color: #999;
    display: none;
}

input[type=text],
input[type=password]{
    padding: .75em 1em;
    border: 1px solid #bbb;
    border-radius: 4px;
    width: 100%;
}

.form-control {
    /*background-color: #efa;*/
    margin-bottom: 1em;
    position: relative;
}

button {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #444;
    font-weight: bold;
    padding: .75em 1.5em;    
}

label {
    color: #999;
}

.errors {
    color: red;
}

.invalid, input.invalid, 
select.invalid, 
textarea.invalid {
    border: 1px solid red;
}