body {
  max-width: 100%;
  margin: 0 auto;
  zoom: 1; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }
  @media only screen and (min-width: 48em) {
    body {
      width: 960px; } }

.accordion {
  float: none;
  margin: 0 auto;
  min-height: 1px;
  padding: 0 9.331px;
  margin: 55.986px auto;
  position: relative;
  padding: 1px;
  border: 1px solid #f1f1f1; }
  @media only screen and (min-width: 37.5em) {
    .accordion {
      width: 41.66667%; } }
  .accordion > a {
    display: block;
    padding: .75em;
    border-top: 1px solid white;
    border-bottom: 1px solid #d5d5d5;
    margin: 0;
    font: 1em "OpenSansLight";
    color: #222;
    cursor: pointer;
    background: #e9e9e9;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .accordion > a:first-of-type {
      border-top: none; }
    .accordion > a:last-of-type {
      border-bottom: none; }
    .accordion > a:before {
      font-family: IcoMoonSubset, Arial;
      color: #1abc9c;
      content: '\e0c3';
      position: relative;
      top: 0.07em;
      left: -0.25em; }
    .accordion > a.current {
      color: white;
      background: #2e4e62;
      border-bottom: none; }
      .accordion > a.current:before {
        content: '\e0c5'; }
  .accordion article {
    background: #f3f3f3;
    padding: 18.662px; }
    .accordion article h1 {
      margin-top: 0; }
