/* line 1, C:/Alex/Projects/PCCI/Js/Js-JQuery/samples/converter/css/styles.scss */
html, body {
  margin: 0;
  padding: 0; }

/* line 6, C:/Alex/Projects/PCCI/Js/Js-JQuery/samples/converter/css/styles.scss */
body {
  color: #444;
  font: 100%/1.4 Arial, Helvetica, sans-serif; }

/* line 11, C:/Alex/Projects/PCCI/Js/Js-JQuery/samples/converter/css/styles.scss */
header {
  background-color: #efefef;
  border-bottom: 4px solid #ccc;
  padding: .5em;
  margin-bottom: 1em; }

/* line 18, C:/Alex/Projects/PCCI/Js/Js-JQuery/samples/converter/css/styles.scss */
main, footer {
  padding: 1em; }

/* line 23, C:/Alex/Projects/PCCI/Js/Js-JQuery/samples/converter/css/styles.scss */
main section {
  background-color: #efefef;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1em; }

/* line 32, C:/Alex/Projects/PCCI/Js/Js-JQuery/samples/converter/css/styles.scss */
footer {
  border-top: 1px solid #cfcfcf;
  color: #aaa;
  padding-top: 0; }

/*# sourceMappingURL=styles.css.map */