html, body {
    margin: 0;
    padding: 0;
}

body {
    color: #444;
    font: 100%/1.4 Arial, Helvetica, sans-serif;      
}

header {
    background-color: #efefef;
    border-bottom: 4px solid #ccc;
    padding: .5em;
    margin-bottom: 1em;
}

main, footer {
    padding: 1em;
}

main {
    section {
        background-color: #efefef;
        border: 1px solid #cfcfcf;
        border-radius: 4px;
        padding: 1em;
        margin-bottom: 1em;
    }     
}

footer {
    border-top: 1px solid #cfcfcf;
    color: #aaa;
    padding-top: 0;
}