body {
  max-width: 100%;
  margin: 0 auto;
  zoom: 1; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }
  @media only screen and (min-width: 48em) {
    body {
      width: 960px; } }

.tabs {
  float: none;
  margin: 0 auto;
  min-height: 1px;
  padding: 0 9.331px;
  zoom: 1;
  margin-top: 55.986px;
  margin-bottom: 55.986px; }
  @media only screen and (min-width: 37.5em) {
    .tabs {
      width: 100%; } }
  .tabs:before, .tabs:after {
    content: " ";
    display: table; }
  .tabs:after {
    clear: both; }

.tabs-nav {
  padding: 0;
  margin: 0;
  float: left;
  position: relative;
  top: auto;
  right: auto;
  bottom: -1px;
  left: 18.662px;
  list-style: none;
  z-index: 10; }
  .tabs-nav a {
    padding: .388em .75em;
    border: none;
    float: left;
    text-align: center;
    text-decoration: none; }
    .tabs-nav a:focus {
      outline: none; }
    .tabs-nav a.current {
      border: 1px solid #d4d4d4;
      border-bottom: none;
      background: white;
      font-weight: bold; }

.tabs-content {
  position: relative;
  clear: both;
  border-top: 1px solid #d4d4d4; }
  .tabs-content article {
    width: 100%;
    padding: 0 18.662px;
    float: left;
    background: white; }

.tabs-content article {
  display: none; }
  .tabs-content article.current {
    display: block; }

/*
.tabs-content article {
  display: block;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 8;
  transform: scale(0.9);
  transition: all 400ms ease-in-out;
}
.tabs-content .current {
  visibility: visible;
  opacity: 1;
  z-index: 9;
  transform: scale(1);
}
*/
